<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Таблица рецептов</title>
    <style>
        body {
            text-align: center;
        }
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h2>Таблица рецептов, где данный продукт больше 10 грамм</h2>
    <table class="center" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Наименование рецепта</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in more_gram %}
            <tr>
                <td>{{recipe.recipe.id}}</td>
                <td>{{recipe.recipe.name_of_the_dish}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h2>Таблица рецептов, где данный продукт меньше 10 грамм</h2>
    <table class="center" border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Наименование рецепта</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in less_gram %}
            <tr>
                <td>{{recipe.recipe.id}}</td>
                <td>{{recipe.recipe.name_of_the_dish}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>